[submodule "cmake/Modules"]
	path = cmake/Modules
	url = ../s4bxi-cmake-modules.git
[submodule "docs/m.css"]
	path = docs/m.css
	url = https://github.com/mosra/m.css.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
